<div class="listings">
<% if @listings.length == 0 %>
  <i>No listings.</i>
<% end %>

<% if @subcategory %>
  <% for listing in @listings %>
    <div class="listing">
      <h3><%= h listing.title %></h3>
      <p>
        <%= h listing.body %>
      </p>
      <p>
        <%= format_website(listing.website) %>
      </p>
    </div>
  <% end %>
<% else %>
  <% subcat = nil %>
  <% for listing in @listings %>
    <% if listing.subcategory and h(listing.subcategory.name) != subcat %>
      <% subcat = h(listing.subcategory.name) %>
      <p class="listing_subcategory">Subcategory: <a href="<%= url_for :action => "show_subcategory", :id => listing.subcategory_id %>"><span class="subcategories"><%= subcat %></a></p>
    <% end %>
   
    <div class="listing">
      <h3><%= h listing.title %></h3>
      <p>
        <%= listing.format_body %>
      </p>
      <p>
        <%= format_website(listing.website) %>
      </p>
    </div>
  <% end %>
<% end %>



</div>