<div id="brochure" />
<div id="main_content">
  <h2>In this issue &hellip;</h2>

  <h2>Directory</h2>
    ???

  <h2><%= link_to h("What to expect in a session"), "#" %></h2>
  
  <h2><%= link_to h("Green Marketing"), "#" %></h2>
  
  <h2><%= link_to h("Directory"), "#" %></h2>
  
  <h2>About Terra Essentials</h2>
  <ul>
    <li><%= link_to h("About Us"), "#" %></li>
    <li><%= link_to h("Contact Us"), "#" %></li>
    <li><%= link_to h("Disclosure"), "#" %></li>
  </ul>

  <h2>To Advertise</h2>
  <ul>
    <li><%= link_to h("Rates"), "#" %></li>
    <li><%= link_to h("Contracts"), "#" %></li>
    <li><%= link_to h("Paypal"), "#" %></li>
  </ul>

  <h2><%= link_to h("Art Specs"), "#" %></h2>
  
  <h2><%= link_to h("Editorial Specs"), "#" %></h2>

</div>