<div id="main">
  <div class="main_content_top"></div>
  <div class="main_content">
	  <div id="cover2010"></div>
	  <div class="purple_buttons">
		  <h1>Advertising</h1>
		  <div class="purple_button"><a href="#">2010<br/>Online Listings</a></div>
		  <div class="purple_button"><a href="#">2010 Edition Download</a></div>
		  <div class="purple_button"><a href="http://media.t-essentials.com/downloads/TE Index 2010.pdf">2010 Edition<br /> Index</a></div>
		  <div class="purple_button"><a href="#">Accreditation &amp; Licensures</a></div>
		  <div class="purple_button"><a href="#">Definitions</a></div>
		  <div class="purple_button"><%= link_to h("PayPal"), :action => "show_page", :id => "paypal" %></div>
		</div>
		<h1>2010 Directory Links</h1>
			<% if @categories[0].empty? %>
  			<%= generate_dropdown 'Mind & Body', '#', [['Bodywork', '#'], ['Children\'s Services', '#'], ['Coaching & Counseling', '#'], ['Energy Healing', '#']]%>
        <%= generate_dropdown 'Planet', '#', [] %>
        <%= generate_dropdown 'Spirit', '#', [] %>
        <%= generate_dropdown 'Connections', '#', [] %>
			<% else %>
			  <%= @categories[0].collect { |c| generate_dropdown_for(c) }.join('') %>
			<% end %>
		</ul>
	</div>
	<div class="main_content_bottom"></div>
	
  <div class="main_content_top"></div>
	<div class="main_content">
		<div id="cover2009"></div>
		<div class="purple_buttons">
		  <h1>Online Directory</h1>
		  <div class="purple_button"><a href="http://media.t-essentials.com/downloads/Final%20Version%2001-23-09.pdf">2009 Edition Download</a></div>
		  <div class="purple_button"><a href="http://media.t-essentials.com/downloads/online%20definitions%201-1.pdf">Definitions</a></div>
		  <div class="purple_button"><a href="#">Accreditation &amp; Licensures</a></div>
		</div>
    <h1>2009 Directory Links</h1>
   	<%= @categories[1].collect { |c| generate_dropdown_for(c) }.join('') %>
	</div>
	<div class="main_content_bottom"></div>
  
	<!--
  
     <h2>About Terra Essentials</h2>
     <ul>
       <li><%= link_to h("Who we are"), :action => "show_page", :id => "the sales team" %></li>
       <li><%= link_to h("Contact Us"), :action => "show_page", :id => "contact us" %></li>
       <li><%= link_to h("Disclosure"), :action => "show_page", :id => "disclosure" %></li>
     </ul>

     <h2>To Advertise</h2>
     <ul>
       <li><%= link_to h("Rate sheet"), :action => "show_page", :id => "advertising" %></li>
       <li><%= link_to h("Contract"), "http://www.vitesis.com/wp-content/uploads/2008/09/t-essentials-contract.pdf" %></li>
       <li><%= link_to h("PayPal"), :action => "show_page", :id => "paypal" %></li>
     </ul>

     <h2>Editorial</h2>
   	<ul>
   		<li><%= link_to h("Submissions"), :action => "show_page", :id => "submissions" %></li>
   		<li><%= link_to h("Postings"), :action => "show_page", :id => "postings" %></li>
   	</ul>
   -->
</div>
