<div id="category">
<h2><%= link_to(h(@category.name), :action => :show_category, :id => @category.id) if @category %></h2>
<h3><%= h @subcategory.name %></h3>

<% if @subcategory.description and @subcategory.description.length > 0%>
<script language="JavaScript">
function fulldesc()
{
	$('description').innerHTML = "<%= @subcategory.format_text_esc_quote %>";
	$('tohide').hide();
}
</script>

<div id="description">
	<%= @subcategory.partial_description_esc_quote %>
	<% if @subcategory.partial_description != @subcategory.format_text %><a href="#" id="tohide" onclick="fulldesc()">&hellip; (more)</a><% end %>
</div>
<% end %>
<hr />
 
<%= render :partial => "show_listings" %>
</div>