<div id="category">
<h2><%= h @category.name %></h2>

<% if @category.description and @category.description.length > 0 %>
<script language="JavaScript">
function fulldesc()
{
	$('description').innerHTML = "<%= @category.format_text_esc_quote %>";
	$('tohide').hide();
}
</script>

<div id="description">
	<%= @category.partial_description_esc_quote %>
	<% if @category.partial_description != @category.format_text %><a href="#" id="tohide" onclick="fulldesc()">&hellip; (more)</a><% end %>
</div>

<% end %>

<hr />

<div id="subcategories">
  <% 1.upto(@num_columns) do |c| %>
    <% if c == 1 %><div id="wrapper"><% end %>
    <div id="column<%= c %>">
      <%= @column[c - 1].map { |subcat| link_to("#{subcat.name.downcase} (#{subcat.listings.length})", :action => "show_subcategory", :id => subcat.id) }.join("<br />") %>
    </div>
    <% if c == 1 %></div><% end %>
    
  <% end %>
  <div id="clear">&nbsp;</div>
</div>

<hr />

<%= render :partial => "show_listings" %>
</div>