<p>
  <b>Title:</b>
  <%=h @listing.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @listing.body %>
</p>

<p>
  <b>By:</b>
  <%=h @listing.by %>
</p>

<p>
  <b>Email:</b>
  <%=h @listing.email %>
</p>

<p>
  <b>Start:</b>
  <%=h @listing.start %>
</p>

<p>
  <b>End:</b>
  <%=h @listing.end %>
</p>

<p>
  <b>Region:</b>
  <%=h @listing.region.name %>
</p>

<p>
  <b>Category:</b>
  <%=h @listing.category.name %>
</p>

<p>
  <b>Subcategory:</b>
  <%=h @listing.subcategory.name %>
</p>


<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
