<%= link_to 'New salesperson', new_salesperson_path %>

<h1>Sales People</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Phone</th>
    <th>Number of Ads</th>
  </tr>

<% for salesperson in @salespeople %>
  <tr>
    <td><%=link_to h(salesperson.name), salesperson %></td>
    <td><%=h salesperson.email %></td>
    <td><%=h salesperson.address %></td>
    <td><%=h salesperson.city %></td>
    <td><%=h salesperson.state %></td>
    <td><%=h salesperson.zip %></td>
    <td><%=h salesperson.phone %></td>
    <td><%=h salesperson.sum_ads %></td>
    <td><%= link_to 'Edit', edit_salesperson_path(salesperson) %></td>
    <td><%= link_to 'Destroy', salesperson, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>