<div id="payment_table">
<p>
  <b>Total Amount Due:</b> <b><%= money(@contract.amount_due) %></b>
  <% form_remote_for(@newpayment, :url => {:action => :add_payment, :id => @contract.id }) do |f| %>
    <%= f.hidden_field :contract_id, :value => @contract.id %>
    <%= f.hidden_field :comment, :value => 'Marked payment complete' %>
    <%= f.hidden_field :amount, :value => @contract.amount_due %>
    <%= submit_tag "Mark Account as Paid in Full" %>
  <% end %>  
</p>

<br />

<p>
	<b>Payment Due Date:</b> <%= h @contract.paymentduedate %>
</p>

<br />

<p>
  <b>Total Amount for Contract:</b> <%= money(@contract.sum_charges) %> <%= button_to 'Send Invoice', {:action => :send_invoice, :id => @contract.id}, :method => :get %>
</p>
<br />
<table>
  <tr><th colspan="3">Payments:</th></tr>
  <tr><th>Comment</th><th>Amount</th><th></th></tr>
  <% for c in @contract.payments do %>
    <tr><td><%= h c.comment %></td><td align="right"><%= h money(c.amount) if c.amount %></td>
      <td>
        <% form_remote_tag :url => { :action => :delete_payment, :id => @contract.id } do |f| %>
          <%= hidden_field_tag :payment_id, c.id %>
          <%= submit_tag "Delete", :onclick => "return #{confirm_javascript_function("Are you sure?")}" %>
        <% end %>
      </td>    
    </tr>
  <% end %>
  <tr><td colspan="3">
  <% form_remote_for(@newpayment, :url => {:action => :add_payment, :id => @contract.id }) do |f| %>
    <%= f.hidden_field :contract_id, :value => @contract.id %>
    <%= f.text_field :comment %> &nbsp;
    <%= f.text_field :amount, :size => 5 %><br />
    <%= submit_tag "Add Payment" %>
  <% end %>  
  </td></tr>
</table>
</div>