<h1>Contracts</h1>
<div id="contract_selector">
  <%= link_to "(all)", {:action => "index"} %> |
  <%= link_to "(negative)", {:action => "negative", :id => 1} %>
  <% if @user.admin %> |
    <%= link_to "Ads Sold", {:action => "ads_sold", :id => 1} if @user.admin %> |
    <%= link_to "Master Listings", {:action => "master_listings", :id => 1} %> |
    <%= link_to "Graphics Table", {:action => "report_graphics", :id => 1} %> |
    <%= link_to "Problem Listings", {:action => "report_problems", :id => 1} %>
  <% end %>
</div>
<table>
  <tr class="header">
    <th>Go to Contract (link)</th>
    <th>Total Amount</th>
    <th>Amount Due</th>
    <th><%= link_to 'Client', {:controller => :clients} %></th>
    <th><%= link_to 'Salesperson', {:controller => :salespeople} %></th>
    <th>Contract Date</th>
    <th>Due Date</th>
    <th><%= link_to 'Designer', {:controller => :designers} %></th>
    <th>Listings</th>
		<th>Web Ads</th>
		<th>Uploads</th>
  </tr>

<% even = false %>
<% for contract in @contracts %>
  <tr class="<%= (even = !even) ? "even" : "odd" %>">
    <td align="center"><%= button_to h("Go to contract"), contract, :method => :get %></td>
    <td><strong><%= money contract.sum_charges %></strong></td>
    <td><%= money contract.amount_due %></td>
    <td><%= link_to h(contract.client.normalname), contract.client if contract.client %></td>
    <td><%= link_to h(contract.salesperson.name), contract.salesperson if contract.salesperson %></td>
    <td><%= h(time_ago_in_words(contract.contractdate)) %>
        <%= "ago" if contract.contractdate < Time.now %></td>
    <td><%= h(time_ago_in_words(contract.paymentduedate)) %>
        <%= "ago" if contract.paymentduedate < Time.now %></td>
    <td><%= link_to h(contract.designer.name), contract.designer if contract.designer %></td>
	<td><%= h contract.listings.length %> / <%= h contract.listings_allowed %></td>
    <td><%=h contract.web_ads.length %></td>
		<td>
		<% for upload in contract.uploads -%>
		  <%= link_to h(upload.filename), upload.public_filename %> <br />
		<% end -%>
		</td>
    <td><%= button_to 'Send Invoice', :action => :send_invoice, :id => contract.id, :method => :get %></td>
    <td><%= button_to 'Edit', edit_contract_path(contract), :method => :get %></td>
    <td><%= button_to 'Delete', contract, :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>

<br />

<%= button_to 'New contract', new_contract_path, :method => :get %>
<small>(Did you create your <%= link_to 'client', {:controller => :clients} %> yet?)</small>
