<h1>Contracts</h1>

<table>
  <tr class="header">
    <th>Go to Contract (link)</th>
    <th>Contract Date</th>
		<th>Due Date</th>
    <th>Region</th>
    <th><%= link_to 'Client', {:controller => :clients} %></th>
    <th><%= link_to 'Salesperson', {:controller => :salespeople} %></th>
    <th><%= link_to 'Designer', {:controller => :designers} %></th>
    <th>Client Approved?</th>
    <th>Certs/Edu Listed On Contract?</th>
    <th>Amount Due</th>
    <th>Total Amount</th>
    <th>Listings</th>
		<th>Web Ads</th>
		<th>Uploads</th>
  </tr>

<% even = false %>
<% for contract in @contracts %>
  <tr class="<%= (even = !even) ? "even" : "odd" %>">
    <td align="center"><%= button_to h("Go to contract"), contract, :method => :get %></td>
    <td><%= link_to h(contract.contractdate), contract %></td>
		<td><%= h contract.paymentduedate %></td>
    <td><%= h contract.region %>
    <td><%= link_to h(contract.client.normalname), contract.client %></td>
    <td><%= link_to h(contract.salesperson.name), contract.salesperson %></td>
    <td><%= link_to h(contract.designer.name), contract.designer if contract.designer %></td>
    <td><%=h contract.clientapproved %></td>
    <td><%=h contract.certlistedoncontract %></td>
    <td><%=h contract.amount_due %></td>
    <td><%=h contract.sum_charges %></td>
	<td><%= h contract.listings.length %> / <%= h contract.listings_allowed %></td>
    <td><%=h contract.web_ads.length %></td>
		<td>
		<% for upload in contract.uploads -%>
		  <%= link_to h(upload.filename), upload.public_filename %> <br />
		<% end -%>
		</td>
    <td><%= button_to 'Send Invoice', :action => :send_invoice, :id => contract.id, :method => :get %></td>
    <td><%= button_to 'Edit', edit_contract_path(contract), :method => :get %></td>
    <td><%= button_to 'Delete', contract, :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
<% end %>
</table>

<br />

<%= button_to 'New contract', new_contract_path, :method => :get %>
<small>(Did you create your <%= link_to 'client', {:controller => :clients} %> yet?)</small>
