<h2>Categories</h2>
<ul id="category_list">
  <% @categories.each do |category| %>
  <li><%= category.name %></li>
  <ul class="subcategory_list">
    <% category.subcategories.reject { |s| s.listings.length == 0 }.sort { |x, y| x.name <=> y.name }.each do |subcategory| %>
    <li><%= subcategory.name %></li>
    <% end %>
  </ul>
  <% end %>
</ul>

<hr />
<% @categories.each do |category| %>
<br /><br /><h2><%= category.name %></h2><br />
  <% category.subcategories.reject { |s| s.listings.length == 0 }.sort { |x, y| x.name <=> y.name }.each do |subcategory| %>
  <h3><%= subcategory.name %></h3><br />
    <% subcategory.listings.sort {|x, y| x.title <=> y.title }.each do |listing| %>
      <%= h listing.title %><br/>
      <pre><%= h listing.body %></pre><br /><br />
    <% end %>
  <% end %>
<% end %>
