<h1>New contract</h1>

<%= error_messages_for :contract %>

<% form_for(@contract) do |f| %>
  <p>
    <b>Contract Date</b><br />
    <%= f.datetime_select :contractdate %>
  </p>

  <p>
		<b>Payment Due Date</b><br />
		<%= f.datetime_select :paymentduedate %>
	</p>


  <p>
    <b>Region</b><br />
    <%= f.collection_select :region_id, Region.find(:all).sort_by {|c| c.name}, :id, :name %>
  </p>
 
  <p>
    <b>Client</b><br />
    <%= f.collection_select :client_id, Client.find(:all).sort_by{|c| c.business}.sort_by {|c| c.name}, :id, :normalname %>
    <small>(Did you create your <%= link_to 'client', {:controller => :clients} %> yet?  It won't appear in this list until you do.)</small>
  </p>

<% if @user.admin %>
  <p>
    <b>Salesperson</b><br />
    <%= f.collection_select :salesperson_id, Salesperson.find(:all).sort_by {|c| c.name}, :id, :name %>
  </p>
<% else %>
  <%= f.hidden_field :salesperson_id, :value => @user.salesperson_id %>
<% end %>

  <p>
    <b>Designer</b><br />
    <%= f.collection_select :designer_id, Designer.find(:all).sort_by {|c| c.name}, :id, :name %>
  </p>
 
  <p>
    <b>Client Approved?</b><br />
    <%= f.check_box :clientapproved %>
  </p>

  <p>
    <b>Cert/Edu List on Contract?</b><br />
    <%= f.check_box :certlistedoncontract %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', contracts_path %>
