<div id="listings_table">
<p>
  <b>Current Listings Used:
  <%= h @contract.listings.length %> / <%= h @contract.listings_allowed %></b>
</p>

<% if @contract.listings.length > @contract.listings_allowed %>
  <h2>Over the Limit!!!</h2>
<% end %>


<h2>Current Listings</h2>
<table>
<tr>
    <th>Category</th>
    <th>Subcategory</th>
    <th>Title</th>
    <th>Body</th>
    <th>Start</th>
    <th>End</th>
    <th>View Listing</th>
    <th>Edit</th>
    <th>Delete</th>
</tr>
<% if @contract.listings.length == 0 %>
  <tr><td>No listings yet.</td></tr>
<% end %>
<% for listing in @contract.listings %>
  <tr>
    <td><%=h listing.category.name %></td>
    <td><%=h(listing.subcategory.name) if listing.subcategory != nil %></td>
    <td><%=h listing.title %></td>
    <td><pre><%=h listing.body[0..9] %> ... </pre></td>
    <td><%=h listing.start %></td>
    <td><%=h listing.end %></td>
    <td align="center"><%= h 'View' %></td>
      <td>
        <% form_tag do |f| %>
          <%= hidden_field_tag :listing_id, listing.id %>
          <%= submit_tag "Edit" %>
        <% end %>
      </td>    
      <td>
        <% form_tag({ :action => :delete_listing, :id => @contract.id }) do %>
          <%= hidden_field_tag :delete_listing_id, listing.id %>
          <%= submit_tag "Delete", :onclick => "return #{confirm_javascript_function("Are you sure?")}" %>
        <% end %>
      </td>    
  </tr>
<% end %>
</table>

<h2>New Listing</h2>
<table>
<tr><td>
<% form_for(@newlisting, :url => {:action => :add_listing, :id => @contract.id}) do |f| %>
  <%= f.hidden_field :contract_id, :value => @contract.id %>
  <%= f.hidden_field (:id, :value => params[:listing_id]) if params[:listing_id] %>
  <p>
    <b>Category</b><br />
    <%= f.collection_select :category_id, Category.find(:all, :order => :name), :id, :name %>
  </p>
  <p>
    <b>Subcategory</b><br />
    <%= f.collection_select :subcategory_id, Subcategory.find(:all, :order => :name), :id, :name, {:include_blank => true} %>
  </p>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>
 
  <p>
    <b>Body</b><br />
    <%= f.text_area :body %>
  </p>
 
  <p>
    <b>By</b>
    <%= f.text_field :by, :value => @contract.client.business if @contract.client %>
  </p>
 
  <p>
    <b>Email</b><br />
    <%= f.text_field :email, :value => @contract.client.email if @contract.client %>
  </p>
 
  <p>
    <b>Start</b><br />
    <%= f.datetime_select :start %>
  </p>
 
  <p>
    <b>End</b><br />
    <%= f.datetime_select :end %>
  </p>
 

  <%= f.hidden_field :region_id, :value => @contract.region_id %>
 
  <p>
    <% if params[:listing_id] %>
      <%= f.submit "Update Listing" %>
    <% else %>
      <%= f.submit "Add Listing" %>
    <% end %>
  </p>
<% end %>

</td></tr>
</table>
</div>
