<p>
<b>Total Amount for Contract:</b> <b><%= money(@contract.sum_charges) %></b><br />
<b>Total Amount Currently Due:</b> <b><%= money(@contract.amount_due) %></b>
</p>


<p><%= button_to 'Edit this contract', {:action => "edit", :id => @contract.id}, :method => :get %></p>

<p><%= button_to "Go to associated listings and web ads", {:action => "show_listings", :id => @contract.id}, :method => :get %></p>

<p><br /></p>

<p>
  <b>Contract Date:</b>
  <%=h @contract.contractdate %>
</p>

<p>
  <b>Region</b>
  <%=h @contract.region %>
</p>

<p>
  <b>Client:</b>
  <%=h @contract.client.name if @contract.client %>
</p>

<p><br /></p>

<p>
  <b>Salesperson:</b>
  <%=h @contract.salesperson.name if @contract.salesperson %>
</p>

<p>
  <b>Designer:</b>
  <%=h @contract.designer.name if @contract.designer %>
</p>

<p>
  <b>Client Approved?</b>
  <%= @contract.clientapproved ? "yes" : "no" %>
</p>

<p>
  <b>Cert/Education Listed On Contract?</b>
  <%= @contract.certlistedoncontract ? "yes" : "no" %>
</p>

<%= render :partial => "list_uploads" %>

<%= render :partial => "list_payments"%>

<%= render :partial => "list_charges" %>

<%= render :partial => "list_ads" %>

<%= render :partial => "list_comments" %>
  
