<p><%= button_to 'Edit this contract', {:action => "edit", :id => @contract.id}, :method => :get %></p>

<p><%= button_to "Go to associated listings", {:action => "show_listings", :id => @contract.id}, :method => :get %></p>

<p><br /></p>

<p>
  <b>Contract Date:</b>
  <%=h @contract.contractdate %>
</p>

<p>
  <b>Region</b>
  <%=h @contract.region %>
</p>

<p>
  <b>Client:</b>
  <%=h @contract.client.name %>
</p>

<p><br /></p>

<p>
  <b>Salesperson:</b>
  <%=h @contract.salesperson.name %>
</p>

<p>
  <b>Designer:</b>
  <%=h @contract.designer.name %>
</p>

<p>
  <b>Client Approved?</b>
  <%= @contract.clientapproved ? "yes" : "no" %>
</p>

<p>
  <b>Cert/Education Listed On Contract?</b>
  <%= @contract.certlistedoncontract ? "yes" : "no" %>
</p>

<%= render :partial => "list_payments"%>

<%= render :partial => "list_charges" %>

<%= render :partial => "list_ads" %>

<%= render :partial => "list_comments" %>
  
