<%= button_to 'Create new subcategory', new_subcategory_path %>

<h1>Subcategories</h1>

<table>
  <tr class="header">
    <th>Category</th>
    <th>Subcategory</th>
		<th>Text</th>
		<th>edit</th>
		<th>delete</th>
  </tr>

<% even = false %>
<% for subcategory in @subcategories %>
	<tr class="<%= (even = !even) ? "even" : "odd" %>">
    <td><%=h subcategory.category.name %></td>
    <td><%= link_to h(subcategory.name), subcategory %></td>
    <td><%= link_to h(subcategory.description), subcategory %></td>
    <td><%= link_to 'Edit', edit_subcategory_path(subcategory) %></td>
    <td><%= link_to 'Delete', subcategory, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


