
<p>
  <b>Category:</b>
  <%=h @subcategory.category.name %>
</p>

<p>
  <b>Subcategory:</b>
  <%=h @subcategory.name %>
</p>

<p>
  <b>Text</b>
  <%= h @subcategory.name %>
</p>


<%= link_to 'Edit', edit_subcategory_path(@subcategory) %> |
<%= link_to 'Back', subcategories_path %>
