<%= button_to 'New ad size', new_adsize_path %>

<h1>Ad Sizes</h1>

<table>
  <tr class="header">
    <th>Ad Size</th>
    <th>Web Listings</th>
	<th>Standard Price</th>
  </tr>

<% even = false %>
<% for adsize in @adsizes %>
	<tr class="<%= (even = !even) ? "even" : "odd" %>">
    <td><%=link_to h(adsize.adsize), adsize %></td>
    <td><%=h adsize.numlistings %></td>
    <td><%=h money(adsize.standardprice) %></td>
    <td><%= link_to 'Edit', edit_adsize_path(adsize) %></td>
    <td><%= link_to 'Destroy', adsize, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
