<h1>New adsize</h1>

<%= error_messages_for :adsize %>

<% form_for(@adsize) do |f| %>
  <p>
    <b>Adsize</b><br />
    <%= f.text_field :adsize %>
  </p>

  <p>
    <b>Numlistings</b><br />
    <%= f.text_field :numlistings %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', adsizes_path %>
