<h1>New Ad Size</h1>

<%= error_messages_for :adsize %>

<% form_for(@adsize) do |f| %>
  <p>
    <b>Ad Size Name</b><br />
    <%= f.text_field :adsize %>
  </p>

  <p>
    <b>Number of Web Listings</b><br />
    <%= f.text_field :numlistings %>
  </p>

  <p>
    <b>Standard Price</b><br />
    <%= f.text_field :standardprice %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= button_to 'Back to index', adsizes_path %>
