<%= button_to 'Create new user', new_user_path %>

<h1>Website User Manager</h1>
<%= crash.name %>
<table>
  <tr class="header">
    <th>Name</th>
    <th>Associated Salesperson</th>
    <th>Email</th>
    <th>Password</th>
    <th>Admin</th>
  </tr>

<% even = false %>
<% for user in @users %>
	<tr class="<%= (even = !even) ? "even" : "odd" %>">
    <td><%=link_to h(user.name), user %></td>
    <td><%=h user.salesperson.name if user.salesperson %></td>
    <td><%=h user.email %></td>
    <td> *** </td>
    <td><%= user.admin ? "yes" : "no" %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>