<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Associated Salesperson:</b>
  <%= link_to(h(@user.salesperson.name), @user.salesperson) if @user.salesperson %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Password:</b>
  ***
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin ? "yes" : "no" %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
