<%= button_to 'Create new client', new_client_path %>


<h1>Client List</h1>

<table>
  <tr>
    <th>Business</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>ZIP</th>
    <th>Phone</th>
    <th>Email Address</th>
    <th>Website</th>
    <th>Comments</th>
  </tr>

<% for client in @clients %>
  <tr>
    <td><%= link_to h(client.business), client %></td>
    <td><%= link_to h(client.firstname), client %></td>
    <td><%= link_to h(client.lastname), client %></td>
    <td><%=h client.address %></td>
    <td><%=h client.city %></td>
    <td><%=h client.state %></td>
    <td><%=h client.zip %></td>
    <td><%=h client.phone %></td>
    <td><%= email(client.email) if client.email %></td>
    <td><%= link_to client.website, fixwebsite(client.website) if client.website %></td>
    <td><%=h client.comments %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />