<p>
  <b>Business:</b>
  <%=h @client.business %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @client.lastname %>
</p>

<p>
  <b>Firstname:</b>
  <%=h @client.firstname %>
</p>

<p>
  <b>Address:</b>
  <%=h @client.address %>
</p>

<p>
  <b>City:</b>
  <%=h @client.city %>
</p>

<p>
  <b>State:</b>
  <%=h @client.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @client.zip %>
</p>

<p>
  <b>Phone:</b>
  <%=h @client.phone %>
</p>

<p>
  <b>Email:</b>
  <%=h @client.email %>
</p>

<p>
  <b>Website:</b>
  <%=h @client.website %>
</p>

<p>
  <b>Comments:</b>
  <%=h @client.comments %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
