
<%= button_to 'Create new designer', new_designer_path %>

<h1>Designers</h1>

<table>
  <tr class="header">
    <th>First Name</th>
    <th>Last Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Phone</th>
  </tr>

<% even = false %>
<% for designer in @designers %>
	<tr class="<%= (even = !even) ? "even" : "odd" %>">
    <td><%=h designer.firstname %></td>
    <td><%=h designer.lastname %></td>
    <td><%=h designer.address %></td>
    <td><%=h designer.city %></td>
    <td><%=h designer.state %></td>
    <td><%=h designer.zip %></td>
    <td><%=h designer.phone %></td>
    <td><%= link_to 'Show', designer %></td>
    <td><%= link_to 'Edit', edit_designer_path(designer) %></td>
    <td><%= link_to 'Destroy', designer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


