<h1>Editing transaction</h1>

<%= error_messages_for :transaction %>

<% form_for(@transaction) do |f| %>
  <p>
    <b>Addate</b><br />
    <%= f.datetime_select :addate %>
  </p>

  <p>
    <b>Adsize</b><br />
    <%= f.collection_select :adsize_id, Adsize.find(:all), :id, :adsize %>
  </p>

  <p>
    <b>Category</b><br />
    <%= f.collection_select :category_id, Category.find(:all), :id, :name %>
  </p>
 
  <p>
    <b>Subcategory</b><br />
    <%= f.collection_select :subcategory_id, Subcategory.find(:all), :id, :name %>
  </p>
 
  <p>
    <b>Client Approved?</b><br />
    <%= f.check_box :clientapproval %>
  </p>
 
  <p>
    <b>Salesperson</b><br />
    <%= f.collection_select :salesperson_id, Salesperson.find(:all), :id, :name %>
  </p>
 
  <p>
    <b>Client</b><br />
    <%= f.collection_select :client_id, Client.find(:all), :id, :name %>
  </p>
 
  <p>
    <b>Amount Due</b><br />
    $<%= f.text_field :amountdue %>
  </p>
 
  <p>
    <b>Amount Paid</b><br />
    $<%= f.text_field :amountpaid %>
  </p>
 
  <p>
    <b>Balance</b><br />
    $<%= f.text_field :balance %>
  </p>
 
  <p>
    <b>Number of Listings Sold</b><br />
    <%= f.text_field :numlistings %>
  </p>
 
  <p>
    <b>Designer</b><br />
    <%= f.collection_select :designer_id, Designer.find(:all), :id, :name %>
  </p>


  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @transaction %> |
<%= link_to 'Back', transactions_path %>
