<h1>Editing region</h1>

<%= error_messages_for :region %>

<% form_for(@region) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @region %> |
<%= link_to 'Back', regions_path %>
