<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Terra Essentials – <%= controller.action_name %></title>
  <%= stylesheet_link_tag 't-e' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
<div id="left">
  <a href="http://www.t-essentials.com/"><div id="header"></div></a>
    <div id="categorybox">
	    <h1>January &ndash; April 2009</h1>
	    <ul>
	      <li><%= link_to 'Directory', 'http://www.t-essentials.com/' %> |</li>
	      <li><%= link_to 'Events', "http://www.vitesis.com/calendar/month.php?user=amy" %> |</li>
	      <!--><li><%= link_to 'Vitesis', "http://www.vitesis.com/" %> |</li>-->
        <li><%= link_to "Contact", :action => "show_page", :id => "contact us" %> | </li>
	      <li><%= link_to 'About Us', :action => "show_page", :id => "about" %></li>
	    </ul>
	  </div>
    <div id="content">
      <%= yield  %>
    </div>
</div>
<div id="ad_sidebar">
	<div class="ad">
		<img src="/images/ads/2010nowavailable.png" />
	</div>
  <div class="ad">
    <a href="http://www.pikespeakearthday.org"><img src="http://media.t-essentials.com/ads/2010-03/PPEarthDayWebAd2010.png" /></a>
  </div>
</div>  
 
<div id="contact_info">
	<ul>
		<li>Terra Essentials</li>
		<li>PO Box 7754, Colorado Springs, CO 80933-7754</li>
		<li>719.235.7872</li>
		<li>email: <a href="mailto:amy@t-essentials.com">Amy@T-Essentials.com</a></li>
	</ul>
	
</div>
  <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-5519878-1");
pageTracker._trackPageview();
</script>
</body>
</html>
 